<h1>{{ stopsShow.stop.place }}</h1>

<form ng-submit="stopsShow.addPost()">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" ng-model="stopsShow.post.title">
  </div>

  <div class="form-group">
    <label for="post">Your Post</label>
    <textarea class="form-group" ng-model="stopsShow.post.body"></textarea>
  </div>

  <div class="form-group">
    <label for="base64">Image</label>
    <input type="file" base64 name="base64" id="base64" ng-model="stopsShow.post.base64">
  </div>

  <button>Post</button>
</form>


<div>
  <div ng-repeat="post in stopsShow.stop.posts">
    <a ui-sref="postsShow({ id: post.id })"><strong>{{ post.title }}</strong><br> {{ post.body }}</a>
  </div>
</div>
