<h1>{{ stopsShow.stop.place }}</h1>

<div>
  <div ng-repeat="post in stopsShow.stop.posts">
    <strong>{{ post.title }}</strong><br> {{ post.body }}
  </div>
</div>

<form ng-submit="stopsShow.addPost()">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" ng-model="stopsShow.post.title">
  </div>

  <div class="form-group">
    <label for="post">Your Post</label>
    <textarea ng-model="stopsShow.post.body"></textarea>
  </div>

  <button>Post</button>

</form>
