<div class="container">
  <form ng-submit="tripsEdit.update()" name="tripsEdit.editForm" class="form-group authForm" novalidate>
    <h3>Wanna change your mind a bit?</h3>
    <div>
      <label for="trip_name">Name of your Trip</label>
      <input type="text" name="trip_name" ng-model="tripsEdit.trip.trip_name" required class="form-control">
    </div>
    <div class="ng-message-error" ng-messages="tripsEdit.editForm.trip_name.$error" ng-show="(tripsEdit.editForm.$submitted || tripsEdit.editForm.trip_name.$touched)">
      <p ng-message="required">Your Trip Name is required.</p>
    </div>
    <div>
      <label for="start_date">Start Date</label>
      <input type="date" name="start_date" ng-model="tripsEdit.trip.start_date" required class="form-control">
    </div>
    <div class="ng-message-error" ng-messages="tripsEdit.editForm.start_date.$error" ng-show="(tripsEdit.editForm.$submitted || tripsEdit.editForm.start_date.$touched)">
      <p ng-message="required">Your Start Date is required.</p>
    </div>
    <div>
      <label for="leave_date">Leave Date</label>
      <input type="date" name="leave_date" ng-model="tripsEdit.trip.leave_date" required class="form-control">
    </div>
    <div class="ng-message-error" ng-messages="tripsEdit.editForm.leave_date.$error" ng-show="(tripsEdit.editForm.$submitted || tripsEdit.editForm.leave_date.$touched)">
      <p ng-message="required">Your Leave Date is required.</p>
    </div>

    <div class="authButton">
      <button class="button">Update</button>
    </div>
  </form>
</div>
