<div class="container">
  <h1>Create a new trip for your fine self.</h1>
  <form ng-submit="tripsNew.create()" name="tripsNew.newForm" class="form-group authForm" novalidate>
    <div>
      <label for="trip_name">Name of your Trip</label>
      <input type="text" name="trip_name" ng-model="tripsNew.trip.trip_name" required class="form-control">
    </div>
    <div class="ng-message-error" ng-messages="tripsNew.newForm.trip_name.$error" ng-show="(tripsNew.newForm.$submitted || tripsNew.newForm.trip_name.$touched)">
      <p ng-message="required">Your Trip Name is required.</p>
    </div>
    <div>
      <label for="start_date">Start Date</label>
      <input type="date" name="start_date" ng-model="tripsNew.trip.start_date" required class="form-control">
    </div>
    <div class="ng-message-error" ng-messages="tripsNew.newForm.start_date.$error" ng-show="(tripsNew.newForm.$submitted || tripsNew.newForm.start_date.$touched)">
      <p ng-message="required">Your Start Date is required.</p>
    </div>
    <div>
      <label for="leave_date">Leave Date</label>
      <input type="date" name="leave_date" ng-model="tripsNew.trip.leave_date" required class="form-control">
    </div>
    <div class="ng-message-error" ng-messages="tripsNew.newForm.leave_date.$error" ng-show="(tripsNew.newForm.$submitted || tripsNew.newForm.leave_date.$touched)">
      <p ng-message="required">Your Leave Date is required.</p>
    </div>
    <div class="authButton">
      <button class="button">Create</button>
    </div>
  </form>
</div>
