<div class="container">
  <h3>Login</h3>
  <form name="login.loginForm" ng-submit="login.login()" class="form-group">
    <div>
      <label>Email</label>
      <input type="text" name="email" id="email" class="form-control" ng-model="login.credentials.email" required>
    </div>

    <div class="ng-message-error" ng-messages="login.loginForm.email.$error" ng-show="(login.loginForm.$submitted || login.loginForm.email.$touched)">
      <p ng-message="required">Your email is required.</p>
    </div>

    <div>
      <label>Password</label>
      <input type="password" name="password" id="password" class="form-control" ng-model="login.credentials.password" required>
    </div>
    <div class="ng-message-error" ng-messages="login.loginForm.password.$error" ng-show="(login.loginForm.$submitted || login.loginForm.password.$touched)">
      <p ng-message="required">Your password is required.</p>
    </div>

    <button>Login</button>
  </form>
</div>
