<!DOCTYPE html>
<html ng-app="myGuideBlog">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqunPN56wSjv3kna8IT0805pIX3f4fB3c&libraries=places"></script>
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaJSJC4P3kqKh9XBuF0TNHfbox5eKcMxI&callback=initMap"></script> -->
    <title>My Guide Blog</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller= "MainCtrl as main">

    <nav class="navbar navbar-default" role="navigation">
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
  				<span class="sr-only">Toggle navigation</span>
          <img class="earthIcon" src="../images/earthIcon.png">
  			</button>
  		</div>
  		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
  			<ul class="nav navbar-nav">
          <li><a ui-sref="tripsIndex">WorldBlog</a></li>
          <li ng-if="main.isAuthenticated()"><a ui-sref="tripsNew">Add a Trip</a></li>
          <li ng-if="!main.isAuthenticated()"><a ui-sref="login">Login</a></li>
          <li ng-if="!main.isAuthenticated()"><a ui-sref="register">Register</a></li>
          <li ng-if="main.isAuthenticated()"><a ui-sref="usersShow({ id: main.currentUser.id })">Profile</a></li>
          <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#">Logout</a></li>
  			</ul>
  		</div>
  	</nav>
      <div class="message" ng-if="main.message">
        <div class="container">{{main.message}}</div>
      </div>
    <main ui-view ng-class="{'{{main.dailyImage}}': main.stateName === 'home'}"></main>
  </body>
</html>
