<!DOCTYPE html>
<html ng-app="myGuideBlog">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqunPN56wSjv3kna8IT0805pIX3f4fB3c&libraries=places"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Guide Blog</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller= "MainCtrl as main">

    <nav class="navbar navbar-default" role="navigation">
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
  				<span class="sr-only">Toggle navigation</span>
          <img class="earthIcon" src="../images/earthIcon.png">
  			</button>
  		</div>
  		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
  			<ul class="nav navbar-nav">
          <li ><a ui-sref="tripsIndex" ui-sref-active="active">WorldBlog</a></li>
          <li ng-if="main.isAuthenticated()"><a ui-sref="tripsNew" ui-sref-active="active">Add a Trip</a></li>
          <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
          <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
          <li ng-if="main.isAuthenticated()"><a ui-sref="usersShow({ id: main.currentUser.id })" ui-sref-active="active">Profile</a></li>
          <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#">Logout</a></li>
  			</ul>
  		</div>
  	</nav>
      <div class="message" ng-if="main.message">
        <div class="container">{{main.message}}</div>
      </div>
    <main ui-view ng-class="{'{{main.dailyImage}}': main.stateName === 'home'}"></main>
  </body>
</html>
