@import 'reset';

$blue: #253B77;
$red: #752730;
$green: lighten(#254D32, 10%);


body {
  letter-spacing: 1px;
  font-family: 'BioRhyme', serif;
  background: #FFFFFA;
}
main {
  height: 100vh;
}

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    text-decoration: none;
    color: $red;
  }
}

img {
  height: 100%;
}

nav {
  font-family: 'BioRhyme', serif;
  margin: 0;
  margin-bottom: 0px;
  background-color: white !important;
  div.navbar-header {
    transform-style: preserve-3d;
    .earthIcon {
      height: 25px;
      width: 25px;
      &.spin {
        animation: spin 2s infinite;
      }
    }
  }
  ul {
    li {
      a {
        color: $red !important;
        &.active {
          text-decoration: line-through;
        }
      }
    }
  }
  &.navbar.navbar-default {
    margin-bottom: 0px;
  }
}

button {
  color: $red;
  border-radius: 50%;
  padding: 10px;
  border: solid 1px $blue;
  background: none;
  &:hover {
    border: solid 1px $red;
    background-color: $blue;
    color: white;
  }
}

h1 {
  margin-top: 0px;
}

.horizontal-collapse {
  height: 70px;
}

.dailyImage {
  height: 100vh;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

.deleteButton {
  border-radius: 100%;
  font-size: 10px;
  padding: 10px;
  text-align: center;
}

.carousel {
  height: 300px;
  text-align: center;
  div {
    div{
      display: inline-block;
      position: relative;
      button {
        position: absolute;
        top: 10%;
        color: white;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .carouselImage {
        height: 300px;
        width: 100%;
        &:after {
          content: "";
          display: block;
          padding-top: 100%;
        }
      }
    }
  }

}



li {
  list-style: none;
}

.tripsIndex {

  .mapWrapper {
    width: 100%;
    border-radius: 50%;
    overflow: hidden !important;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    &:after {
      content: "";
      display: block;
      padding-top: 100%;
    }
    #map {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

main {
  height: 100vh;
  background-position: center;
  .container {
    margin-top: 40px;
  }
  &.world {
    background-image: url('../images/world.jpg');
  }
  &.find {
      background-image: url('../images/find.jpg');
  }
  &.search {
      background-image: url('../images/search.jpg');
  }
  &.map {
      background-image: url('../images/map.jpg');
  }
  .usersShow {
    .profileHeader {
      margin-bottom: 20px;
      h3 {
        color: $green;
        font-size: 25px;
        display: inline-block;
      }
      button {
        padding: 10px;
      }
    }
    .profileImage {
      height: 300px;
      max-width: 300px;
      margin: 0 auto;
      img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
    ul {
      li {
        list-style: none;
        h4 {
          font-size: 20px;
          font-weight: bold;
          padding: 20px;
        }
        p {
          padding: 20px;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  5% {
    transform: rotateY(18deg);
  }
  10% {
    transform: rotateY(36deg);
  }
  15% {
    transform: rotateY(54deg);
  }
  20% {
    transform: rotateY(72deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  30% {
    transform: rotateY(108deg);
  }
  35% {
    transform: rotateY(126deg);
  }
  40% {
    transform: rotateY(144deg);
  }
  45% {
    transform: rotateY(162deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  55% {
    transform: rotateY(198deg);
  }
  60% {
    transform: rotateY(216deg);
  }
  65% {
    transform: rotateY(234deg);
  }
  70% {
    transform: rotateY(252deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  80% {
    transform: rotateY(288deg);
  }
  85% {
    transform: rotateY(306deg);
  }
  90% {
    transform: rotateY(324deg);
  }
  95% {
    transform: rotateY(342deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.authForm {
  width: 80%;
  margin: 30px auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;

  label, input{
    margin-top: 10px;
  }

  h3 {
    color: $green;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .authButton {
    margin-top: 25px;
    text-align: center;
  }
}

.ng-message-error {
  color: red;
  padding: 5px;
  text-align: center;
  margin: 5px 0;
}

.tripDetails {
  margin-top: 10px;
  margin-left: 20px;
  h3 {
    color: $green;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.addStopForm {
  min-height: 100%;
  h3 {
    color: $green;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }

}

.stopsList {
  max-width: 80%;
  min-height: 100%;
  text-align: center;
  border-top: 2px solid black;
  margin: 30px auto;
  padding: 10px;
  h3 {
    color: $green;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .stops {
    margin-bottom: 10px;
  }
}


.flightsForm {
  @extend .authForm;
  border-top: none;
  margin: 0 auto;
  h3 {
    color: $green;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.flightResultTitle{
  text-align: center;
  font-size: 24px;
  margin: 10px 0;
  font-weight: bold;
}

.flightColumnHeaders{
  text-align: center;
  margin-bottom: 15px;
  h5 {
    font-weight: bold;
    font-size: 16px;
  }
}

.results {
  margin-top: 5px;
  text-align: center;
  height: 30px;
}
.biggerBottom{
  margin-bottom: 30px;
}


.stopHeader {
  margin: 10px 0;
  padding-bottom: 10px;
  h1 {
    span {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.rating{
  padding: 10px 0;
}

.postDiv {
  margin-bottom: 20px;
  h2 {
    font-size: 24px;
    padding-bottom: 5px;
  }
  p{
    margin-bottom: 10px;
  }
}
.postShowBody{
   max-width: 75%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.postContent {
  margin-top: 10px;
  margin-bottom: 20px;
  h3 {
    color: $green;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  p {
    padding: 10px 0;
    width: 90%;
    margin: 0 auto;
  }
}

.comments {
  min-height: 200px;
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  div {
    p {
      margin-bottom:10px;
      text-align: center;
    }
  }
}

.tripsIndexPosts {
  margin-top: 30px;
  h3 {
    color: $green;
    margin-bottom: 10px;
    font-weight: bold;
  }
  span {
    color: $red;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 30px;
  }
}


@media only screen and (min-width:600px) {
  .mapWrapper {
    max-width: 550px;
    text-align: center;
    margin-right: 0;
  }
}
