main {
  height: 100vh;
}

nav.navbar.navbar-default {
  margin-bottom: 0px;
}

h1 {
  margin-top: 0px;
}

.horizontal-collapse {
  height: 70px;
}

.dailyImage {
  height: 100vh;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

.deleteButton {
  border-radius: 100%;
}

.carousel {
  height: 300px;
}

.carouselImage {
  height: 300px;
}

li {
  list-style: none;
}

#map {
  height: 50vh;
}

main.world {
    background-image: url('../images/world1.jpg');
}

nav {
  margin: 0;
  margin-bottom: 0px;
}
